html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 0 !important;
  padding-bottom: -0 !important;
}

.container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Only for teacher pages */

